/* CSS */

$roboto-light: 300;
$roboto-normal: 400;
$roboto-medium: 500;
$roboto-bold: 700;

$color-red:#b31c20;
body {
	color: #fff;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	line-height: 23px;
	margin: 0;
}

.bgcover {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;	
}

.animatecss {
	-webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;	
}

a {
	color: #666;
	text-decoration: none;
	-webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;
}

a:hover, a:active {
	color: inherit;
	text-decoration: underline;
	opacity: 0.8;
	-webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;
}

.clear {
	clear: both;
}

.alpha { 
	padding-left: 0 !important; 
}

.omega { 
	padding-right: 0 !important; 
}

.no-padding {
	padding: 0 !important;
}

img.border {
	border: 1px solid #B1B1B1;
	margin-bottom: 5%;
	max-width: 100%;
}

img.border:hover, img.border:active {
	border: 1px solid #858585;
	cursor: pointer;
	-webkit-transition: all ease-out 0.4s;
	-moz-transition: all ease-out 0.4s;
	-o-transition: all ease-out 0.4s;
	transition: all ease-out 0.4s;
}

.wrapper { display: block; margin: 0 auto; text-align: center; max-width: 1200px; padding-left: 15px; padding-right:15px; }
.imgwrp img { max-width:100%;}
img { max-width: 100%;}
/* --------------------- HEADER LAYOUT --------------------- */
#headerweb {
	background: #333;
	color: #999;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 100;
	font-size: 14px;
	.content {
		padding: 15px 0px;
		overflow: hidden;
	}
}

.mainlogo {
	float: left;
}

.logomobile {
	display: inline-block;
}

.question {
	 float: right;
	 padding: 6px 10px 9px;
	 color: white;
	 background: #333;
	 border-radius: 3px;
	 -moz-border-radius: 3px;
	 -webkit-border-radius: 3px;
	a {
		color: #fff;
		font-weight: $roboto-bold;
	}
}
/* --------------------- END HEADER LAYOUT --------------------- */

/* --------------------- BODYWEB LAYOUT --------------------- */

#bodyweb {
}
.slides-pagination {
	bottom: 70px;
	a {
		border:#fff solid 1px;
		width: 12px;
		height: 12px;
		margin-left: 4px;
		margin-right: 4px;
	}
	a.current {
		background: #fff;
	}
}

.logomobile {
	display: none;
	float: left;
	width: 70%;
	text-align: left;
}

.navmobile {
	float: right;
	display: none;
	margin-top: 1%;
	cursor: pointer;
	span {
		background: #fff;
		width: 40px;
		height: 5px;
		display: block;
		margin-top: 4px;
		margin-bottom: 4px;
	}
}

/* --------------------- END BODYWEB LAYOUT --------------------- */

/* --------------------- FOOTER LAYOUT --------------------- */
#footerweb {
	background: #333;
	color: #999;
	position: fixed;
	width: 100%;
	bottom: 0;
	z-index: 100;
	font-size: 12px;
	border-top: $color-red solid 5px;
	.content {
		padding: 5px 0;
		a {
			color: #fff;
		}
	}	
}
/* --------------------- END FOOTER LAYOUT --------------------- */

/* Mobile device */
@media (max-width: 767px) {
	#headerweb {
		background: none;
		padding: 15px;
		.content {
			display: none;
		}
	}
	.slides-pagination {
		display: none;
	}
	.mainlogo {
		display: none;
	}
	.logomobile {
		display: inline-block;
	}
	.navmobile {
		display: inline-block;
	}
}

/* Tablet device */
@media (min-width: 768px) {
}

/* Desktop small screen */
@media (min-width: 992px) {
}

/* Desktop large screen */
@media (min-width: 1200px) {
}

