/* CSS */
/* line 9, ../scss/style.scss */
body {
  color: #fff;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  line-height: 23px;
  margin: 0;
}

/* line 17, ../scss/style.scss */
.bgcover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 24, ../scss/style.scss */
.animatecss {
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}

/* line 31, ../scss/style.scss */
a {
  color: #666;
  text-decoration: none;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}

/* line 40, ../scss/style.scss */
a:hover, a:active {
  color: inherit;
  text-decoration: underline;
  opacity: 0.8;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}

/* line 50, ../scss/style.scss */
.clear {
  clear: both;
}

/* line 54, ../scss/style.scss */
.alpha {
  padding-left: 0 !important;
}

/* line 58, ../scss/style.scss */
.omega {
  padding-right: 0 !important;
}

/* line 62, ../scss/style.scss */
.no-padding {
  padding: 0 !important;
}

/* line 66, ../scss/style.scss */
img.border {
  border: 1px solid #B1B1B1;
  margin-bottom: 5%;
  max-width: 100%;
}

/* line 72, ../scss/style.scss */
img.border:hover, img.border:active {
  border: 1px solid #858585;
  cursor: pointer;
  -webkit-transition: all ease-out 0.4s;
  -moz-transition: all ease-out 0.4s;
  -o-transition: all ease-out 0.4s;
  transition: all ease-out 0.4s;
}

/* line 81, ../scss/style.scss */
.wrapper {
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 82, ../scss/style.scss */
.imgwrp img {
  max-width: 100%;
}

/* line 83, ../scss/style.scss */
img {
  max-width: 100%;
}

/* --------------------- HEADER LAYOUT --------------------- */
/* line 85, ../scss/style.scss */
#headerweb {
  background: #333;
  color: #999;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  font-size: 14px;
}
/* line 93, ../scss/style.scss */
#headerweb .content {
  padding: 15px 0px;
  overflow: hidden;
}

/* line 99, ../scss/style.scss */
.mainlogo {
  float: left;
}

/* line 103, ../scss/style.scss */
.logomobile {
  display: inline-block;
}

/* line 107, ../scss/style.scss */
.question {
  float: right;
  padding: 6px 10px 9px;
  background: #333;
  color: white;
  border-radius: 3px;
}
/* line 111, ../scss/style.scss */
.question a {
  color: #fff;
  font-weight: 700;
}

/* --------------------- END HEADER LAYOUT --------------------- */
/* --------------------- BODYWEB LAYOUT --------------------- */
/* line 123, ../scss/style.scss */
.slides-pagination {
  bottom: 70px;
}
/* line 125, ../scss/style.scss */
.slides-pagination a {
  border: #fff solid 1px;
  width: 12px;
  height: 12px;
  margin-left: 4px;
  margin-right: 4px;
}
/* line 132, ../scss/style.scss */
.slides-pagination a.current {
  background: #fff;
}

/* line 137, ../scss/style.scss */
.logomobile {
  display: none;
  float: left;
  width: 70%;
  text-align: left;
}

/* line 144, ../scss/style.scss */
.navmobile {
  float: right;
  display: none;
  margin-top: 1%;
  cursor: pointer;
}
/* line 149, ../scss/style.scss */
.navmobile span {
  background: #fff;
  width: 40px;
  height: 5px;
  display: block;
  margin-top: 4px;
  margin-bottom: 4px;
}

/* --------------------- END BODYWEB LAYOUT --------------------- */
/* --------------------- FOOTER LAYOUT --------------------- */
/* line 162, ../scss/style.scss */
#footerweb {
  background: #333;
  color: #999;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 100;
  font-size: 12px;
  border-top: #b31c20 solid 5px;
}
/* line 171, ../scss/style.scss */
#footerweb .content {
  padding: 5px 0;
}
/* line 173, ../scss/style.scss */
#footerweb .content a {
  color: #fff;
}

/* --------------------- END FOOTER LAYOUT --------------------- */
/* Mobile device */
@media (max-width: 767px) {
  /* line 182, ../scss/style.scss */
  #headerweb {
    background: none;
    padding: 15px;
  }
  /* line 185, ../scss/style.scss */
  #headerweb .content {
    display: none;
  }

  /* line 189, ../scss/style.scss */
  .slides-pagination {
    display: none;
  }

  /* line 192, ../scss/style.scss */
  .mainlogo {
    display: none;
  }

  /* line 195, ../scss/style.scss */
  .logomobile {
    display: inline-block;
  }

  /* line 198, ../scss/style.scss */
  .navmobile {
    display: inline-block;
  }
}
/* Tablet device */
/* Desktop small screen */
/* Desktop large screen */
